<?xml version="1.0"?>

<launch>

    <rosparam param="use_sim_time">true</rosparam>

    <!-- Start Gazebo with wg world running in (max) realtime -->
    <include file="$(find hector_gazebo_worlds)/launch/start.launch">
        <arg name="gui" value="true"/>
        <arg name="world" value="$(find hector_gazebo_worlds)/worlds/small_indoor_scenario.world"/>
    </include>

    <!-- Spawn simulated quadrotor uav -->
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor_with_kinect.launch"/>

    <!-- Activate the quadrotor motors -->
    <node pkg="rosservice" type="rosservice" name="motors_activator"
          args="call --wait /enable_motors &quot;enable: true&quot;"/>

    
</launch>
